.button {
    background-color: var(--white);
    border: none;
    padding: var(--button-padding);
    font-size: var(--button-font-size);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    color: var(--black);
}
.button:hover, .button:active {
    box-shadow: inset 2px 2px 5px var(--shadow);
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}